
#include "../Headers/SDK/MacSDKConfigurations/Environment.xcconfig"
#include "../Headers/SDK/MacSDKConfigurations/Default.xcconfig"

// Common search paths for all targets
HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS) ../Headers/SDK ../Headers/API ../sources

// Compile everything as objective-c++
GCC_INPUT_FILETYPE = sourcecode.cpp.objcpp
